section#banner
  .info
    h1.main-title
      span.white-text r
      span pabon
      span.blink _
    h2.main-subtitle web development.
    .social-icons
      a(href='https://github.com/rpabon')
        img.img-responsive(src='img/github.png', intent in-highres-src='img/github@2x.png', alt='github.png', width='32')
      a(href='http://www.linkedin.com/in/rpabon257')
        img.img-responsive(src='img/linkedin.png', intent in-highres-src='img/linkedin@2x.png', alt='linkedin.png', width='32')
      a(href='http://stackoverflow.com/users/1350833/rpabon')
        img.img-responsive(src='img/stackoverflow.png', intent in-highres-src='img/stackoverflow@2x.png', alt='stackoverflow.png', width='32')
  .background
  #clouds.banner-layer
  #bushes.banner-layer
  #street.banner-layer
  #megaman
  #metool
  #metool-copter
  #front-lights.banner-layer