header.navbar
  .container
    .row
      .col-md-6
        a(href='/').logo
          img(src='img/logo.png', alt='logo.png')
      .col-md-6
        ul.navbar-nav.text-right
          li: a(href="#"): i.tuiter
          li: a(href="#"): i.github
          li: a(href="#"): i.linked
