section#apps
  .container
    .row
      .section-title
        h3 Apps
      .col-xs-12.col-sm-6.col-md-4
        .box
          .box-image
          .box-title
            p Movie finder
      .col-xs-12.col-sm-6.col-md-4
        .box
          .box-image
          .box-title
            p Thesis project
      .col-xs-12.col-sm-6.col-md-4
        .box
          .box-image
          .box-title
            p Old homepage