section#websites
  .arrow
  .container
    .row
      .section-title
        h3 Websites
      .col-xs-12.col-sm-6.col-md-4
        .box
          .box-image
            a(href='http://mwayapps.com')
              img.img-responsive(src='img/mwayapps.png', intent in-highres-src='img/mwayapps@2x.png', alt='mwayapps.png', width='262')
          .box-title
            p mwayapps.com
      .col-xs-12.col-sm-6.col-md-4
        .box
          .box-image
            a(href='http://the-m-project.com')
              img.img-responsive(src='img/themproject.png', intent in-highres-src='img/themproject@2x.png', alt='themproject.png', width='262')
          .box-title
            p the-m-project.com
      .col-xs-12.col-sm-6.col-md-4
        .box
          .box-image
            a(href='http://apps.the-m-project.com')
              img.img-responsive(src='img/appsthemproject.png', intent in-highres-src='img/appsthemproject@2x.png', alt='appsthemproject.png', width='262')
          .box-title
            p apps.the-m-project.com